prometheus:
  server:
    global:
      scrape_interval: 10s
    service:
      type: NodePort
      nodePort: 30900
    persistentVolume:
      size: 512Mi
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  prometheus-node-exporter:
    enabled: false
  serverFiles:
    prometheus.yml:
      scrape_configs:
        - job_name: "app"
          scrape_interval: 10s
          static_configs:
            - targets: ["host.docker.internal:8080"]
          metrics_path: "/metrics"
          scheme: "http"
      rule_files:
        - /etc/config/rules.yml
    rules.yml:
      groups:
        - name: availability_alerts
          rules:
            - alert: AvailabilityDrop
              expr: webpage_availability_percent < 95
              for: 1m
              labels:
                severity: warning
              annotations:
                summary: "Availability dropped below 95%"
                description: "Current availability is below 95 percent"
