prometheus:
  server:
    global:
      scrape_interval: 10s  
    service:
      type: NodePort
      nodePort: 30900 # adjust prometheus NodePort if there is a conflict
    persistentVolume:
      size: 512Mi
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  prometheus-node-exporter:
    enabled: false
  serverFiles:
    prometheus.yml:
      scrape_configs:
        - job_name: "app"
          scrape_interval: 10s # adjust scrape_interval as needed, default: 10s
          static_configs:
            - targets: ["host.docker.internal:8080"]
          metrics_path: "/metrics"
          scheme: "http"
      rule_files:
        - /etc/config/rules.yml
    rules.yml:
      groups:
        - name: availability_alerts
          interval: 1m
          rules:
            - alert: AvailabilityDrop
              expr: avg without(timestamp) (avg_over_time(webpage_availability_percent[1m])) < 95
              labels:
                severity: warning
              annotations:
                summary: "Availability dropped below 95%"
                description: "Average availability dropped below 95% in the last minute"
